<?xml version="1.0" encoding="utf-8"?>

<!--
   * Copyright (C) 2014-2015  Andrew Gunnerson <andrewgunnerson@gmail.com>
   *
   * This program is free software: you can redistribute it and/or modify
   * it under the terms of the GNU General Public License as published by
   * the Free Software Foundation, either version 3 of the License, or
   * (at your option) any later version.
   *
   * This program is distributed in the hope that it will be useful,
   * but WITHOUT ANY WARRANTY; without even the implied warranty of
   * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   * GNU General Public License for more details.
   *
   * You should have received a copy of the GNU General Public License
   * along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<manifest
    package="com.github.chenxiaolong.dualbootpatcher"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name_release"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name_release"
            android:theme="@style/DrawerActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".switcher.RomDetailActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/DrawerActivityTheme" />
        <activity
            android:name=".settings.RomSettingsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_rom_settings"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".appsharing.AppSharingSettingsActivity"
            android:label="@string/title_app_sharing"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".appsharing.AppListActivity"
            android:label="@string/a_s_settings_indiv_app_sharing_title"
            android:parentActivityName=".appsharing.AppSharingSettingsActivity" />
        <activity
            android:name=".switcher.InAppFlashingActivity"
            android:label="@string/in_app_flashing_title"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".switcher.MbtoolTaskOutputActivity"
            android:parentActivityName=".switcher.RomDetailActivity" />
        <activity
            android:name=".patcher.AutomatedPatcherActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_patch_zip">
            <intent-filter>
                <action android:name="com.github.chenxiaolong.dualbootpatcher.PATCH_FILE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".switcher.AutomatedSwitcherActivity"
            android:excludeFromRecents="true"
            android:theme="@style/TransparentActivityTheme">
            <intent-filter>
                <action android:name="com.github.chenxiaolong.dualbootpatcher.SWITCH_ROM" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".socket.MbtoolErrorActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/TransparentActivityTheme">
        </activity>
        <activity android:name=".pathchooser.PathChooserActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/TransparentActivityTheme">
        </activity>

        <receiver android:name=".appsharing.AppSharingEventReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name=".patcher.PatcherService"
            android:exported="false" />
        <service
            android:name=".switcher.SwitcherService"
            android:exported="false" />
        <service
            android:name=".appsharing.AppSharingService"
            android:exported="false" />
    </application>

</manifest>
