# Binary releases
/dist/

# Custom configuration
/build/build.custom.conf

# Downloads
/build/downloads/

# Toolchains
/build/compile/gcc*

# Compiled files
/build/compile/build/
/build/compile/loki/
/build/compile/valgrind/
/build/compile/getfacl
/build/compile/getfattr
/build/compile/setfacl
/build/compile/setfattr

# syncdaemon
/build/syncdaemon/jsoncpp/
/build/syncdaemon/syncdaemon
/build/syncdaemon/libs/
/build/syncdaemon/obj/

# KDevelop settings
.kdev_include_paths

# Temporary files
*.swp
*.bak*

# Transifex
/translations/

# JNI
/Android_GUI/jni-*/
