[submodule "external/libarchive"]
	path = external/libarchive
	url = https://github.com/chenxiaolong/libarchive.git
	branch = install
[submodule "external/xz"]
	path = external/xz
	url = https://github.com/chenxiaolong/xz.git
	branch = mbp
[submodule "external/zlib"]
	path = external/zlib
	url = https://github.com/madler/zlib.git
[submodule "external/lz4"]
	path = external/lz4
	url = https://github.com/chenxiaolong/lz4.git
	branch = mbp
[submodule "external/cppformat"]
	path = external/cppformat
	url = https://github.com/chenxiaolong/cppformat.git
[submodule "external/pugixml"]
	path = external/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "external/Android-Terminal-Emulator"]
	path = external/Android-Terminal-Emulator
	url = https://github.com/chenxiaolong/Android-Terminal-Emulator.git
[submodule "external/flatbuffers"]
	path = external/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "external/libaxmlparser"]
	path = external/libaxmlparser
	url = https://github.com/chenxiaolong/libaxmlparser.git
[submodule "external/minizip"]
	path = external/minizip
	url = https://github.com/chenxiaolong/minizip.git
