# Binary releases
/dist/

# KDevelop
.kdev_include_paths
.kdev4/
*.kdev4

# Temporary files
*.swp
*.bak*

# Transifex
/translations/

# JNI
/Android_GUI/jni-*/

# Third party
/thirdparty/*/
/thirdparty/*.tar*
/MultiBootPatcher/thirdparty/*.tar*

# libloki
/MultiBootPatcher/libloki/loki/

# syncdaemon
/MultiBootPatcher/syncdaemon/jsoncpp/
/MultiBootPatcher/syncdaemon/libs/
/MultiBootPatcher/syncdaemon/obj/
