*.swp
DualBootPatcher-*.zip
DualBootPatcher-*/
DualBootPatcherAndroid-*.zip
DualBootPatcherAndroid-*.tar.xz
DualBootPatcherAndroid-*.apk
DualBootPatcherAndroid-*/
windowsbinaries/
macbinaries/
androidbinaries/
