[submodule "external/libarchive"]
	path = external/libarchive
	url = https://github.com/chenxiaolong/libarchive.git
	branch = install
[submodule "external/xz"]
	path = external/xz
	url = https://github.com/chenxiaolong/xz.git
	branch = mbp
[submodule "external/zlib"]
	path = external/zlib
	url = https://github.com/madler/zlib.git
[submodule "external/lz4"]
	path = external/lz4
	url = https://github.com/Cyan4973/lz4.git
