# Copyright (c) 2012, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
#

on early-init
    mkdir /firmware 0771 system system
    mkdir /firmware-mdm 0771 system system
    symlink /data/tombstones /tombstones

service ril-qmi /system/bin/sh /init.qcom.ril.sh
    class main
    user root
    oneshot

on fs
    mount_all fstab.qcom
    # UNTESTED: Either needs to be here or in "on fs_selinux"
    #exec /sbin/busybox-static sh /init.dualboot.mounting.sh
    setprop ro.crypto.fuse_sdcard true

    # Keeping following partitions outside fstab file. As user may not have
    # these partition flashed on the device. Failure to mount any partition in fstab file
    # results in failure to launch late-start class.

    #wait /dev/block/platform/msm_sdcc.1/by-name/cache
    #check_fs /dev/block/platform/msm_sdcc.1/by-name/cache ext4
    #mount ext4 /dev/block/platform/msm_sdcc.1/by-name/cache /cache nosuid nodev noatime noauto_da_alloc,discard,journal_async_commit,errors=panic

    #wait /dev/block/platform/msm_sdcc.1/by-name/persist
    #check_fs /dev/block/platform/msm_sdcc.1/by-name/persist ext4
    #mount ext4 /dev/block/platform/msm_sdcc.1/by-name/persist /persist nosuid nodev barrier=1

    wait /dev/block/platform/msm_sdcc.1/by-name/apnhlos
    mount vfat /dev/block/platform/msm_sdcc.1/by-name/apnhlos /firmware ro shortname=lower,uid=1000,gid=1000,dmask=227,fmask=337

    wait /dev/block/platform/msm_sdcc.1/by-name/mdm
    mount vfat /dev/block/platform/msm_sdcc.1/by-name/mdm /firmware-mdm ro shortname=lower,uid=1000,gid=1000,dmask=227,fmask=337

    wait /dev/block/platform/msm_sdcc.1/by-name/efs
    check_fs /dev/block/platform/msm_sdcc.1/by-name/efs ext4
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/efs /efs nosuid nodev noatime noauto_da_alloc,discard,journal_async_commit,errors=panic
    chown system radio /efs
    chmod 0771 /efs

    chown system radio /dev/block/platform/msm_sdcc.1/by-name
    chmod 0775 /dev/block/platform/msm_sdcc.1/by-name

on fs_selinux
    mount_all fstab.qcom
    exec /sbin/busybox-static sh /init.dualboot.mounting.sh
    setprop ro.crypto.fuse_sdcard true

# for LogMeIn 
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/system /system rw wait errors=panic remount

    chown graphics /system/bin/RescueStarter
    chmod 0755 /system/bin/RescueStarter
    chown graphics /system/bin/RescueServer
    chmod 0755 /system/bin/RescueServer

    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/system /system ro wait errors=panic remount

    # Keeping following partitions outside fstab file. As user may not have
    # these partition flashed on the device. Failure to mount any partition in fstab file
    # results in failure to launch late-start class.

    #wait /dev/block/platform/msm_sdcc.1/by-name/cache
    #check_fs /dev/block/platform/msm_sdcc.1/by-name/cache ext4
    #mount ext4 /dev/block/platform/msm_sdcc.1/by-name/cache /cache nosuid nodev noatime noauto_da_alloc,discard,journal_async_commit,errors=panic

    #wait /dev/block/platform/msm_sdcc.1/by-name/persist
    #check_fs /dev/block/platform/msm_sdcc.1/by-name/persist ext4
    #mount ext4 /dev/block/platform/msm_sdcc.1/by-name/persist /persist nosuid nodev barrier=1

    wait /dev/block/platform/msm_sdcc.1/by-name/apnhlos
    mount vfat /dev/block/platform/msm_sdcc.1/by-name/apnhlos /firmware ro shortname=lower,uid=1000,gid=1000,dmask=227,fmask=337,context=u:object_r:firmware:s0

    wait /dev/block/platform/msm_sdcc.1/by-name/mdm
    mount vfat /dev/block/platform/msm_sdcc.1/by-name/mdm /firmware-mdm ro shortname=lower,uid=1000,gid=1000,dmask=227,fmask=337,context=u:object_r:firmware:s0

    wait /dev/block/platform/msm_sdcc.1/by-name/efs
    check_fs /dev/block/platform/msm_sdcc.1/by-name/efs ext4
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/efs /efs nosuid nodev noatime noauto_da_alloc,discard,journal_async_commit,errors=panic
    chown system radio /efs
    chmod 0771 /efs
    restorecon -R /efs    

    chown system radio /dev/block/platform/msm_sdcc.1/by-name
    chmod 0775 /dev/block/platform/msm_sdcc.1/by-name

on boot
   write /sys/devices/i2c-3/3-0024/cyttsp_update_fw 1
   write /sys/devices/i2c-3/3-005b/update_fw 1
   start qcamerasvr

on post-fs-data
   mkdir /data/tombstones 0771 system system
   mkdir /tombstones/modem 0771 system system
   mkdir /tombstones/lpass 0771 system system
   mkdir /tombstones/wcnss 0771 system system
   mkdir /tombstones/dsps 0771 system system
   mkdir /tombstones/mdm 0771 system system

#start camera server as daemon
service qcamerasvr /system/bin/mm-qcamera-daemon
        class late_start
        user camera
        group camera system inet input graphics

#start GNSS/Sensor interface daemon
#service gsiff_daemon /system/bin/gsiff_daemon
#    class late_start
#    user system
#    group gps qcom_oncrpc net_raw

service thermald /system/bin/thermald
   class main
   user root
   group root
   disabled

service thermal-engine /system/bin/thermal-engine
   class main
   user root
   group root
   disabled

on property:qcom.thermal=thermald
    start thermald

on property:qcom.thermal=thermal-engine
    start thermal-engine

service mpdecision /system/bin/mpdecision --no_sleep --avg_comp
   user root
   disabled

service rf4ce /system/bin/rf4ce
   class main
   user root
   group root

service qosmgrd /system/bin/qosmgr /system/etc/qosmgr_rules.xml
   user system
   group system
   disabled

service kickstart /system/bin/qcks -i /firmware-mdm/image/
    user root
    group radio cache inet misc audio sdcard_rw log
    oneshot
    disabled

service mdm_helper /system/bin/mdm_helper
    class main
    onrestart setprop ro.service.mdm_helper_restarted "true"
    disabled

# TVout
service TvoutService_C /system/bin/bintvoutservice
     class main
     user system
     group graphics	
	 
service qrngd /system/bin/qrngd -f
   class main
   user root
   group root

service qseecomd /system/bin/qseecomd
   class core
   user system
   group system

service efsrestorecon /system/bin/restorecon -R /efs
    class late_start
    user root
    group root
    disabled
    oneshot

# Start kickstart if mdm is detected
on property:ro.baseband=mdm
    mkdir /data/qcks 0770 system system
    start kickstart

# Start up mdm_helper if sglte detected
on property:ro.baseband=sglte
    mkdir /data/misc/mdmhelperdata 0700
    start mdm_helper

service usf_tester /system/bin/usf_tester
    user system
    group system inet
    disabled

service usf_epos /system/bin/usf_epos
    user system
    group system inet
    disabled

service usf_gesture /system/bin/usf_gesture
    user system
    group system inet
    disabled

service usf_p2p /system/bin/usf_p2p
    user system
    group system inet
    disabled

service usf_hovering /system/bin/usf_hovering
    user system
    group system inet
    disabled

service usf-post-boot /system/bin/sh /system/etc/usf_post_boot.sh
    class late_start
    user root
    disabled
    oneshot

service prepare-mobicore /system/bin/sh /system/bin/mobicore-presetup.sh
    class core
    user root
    group root
    oneshot

service run-mobicore /system/bin/sh /system/bin/mobicore-startup.sh
    class core
    user system
    group system

on property:init.svc.bootanim=stopped
    start usf-post-boot
    start run-mobicore
    start efsrestorecon

service time_daemon /system/bin/time_daemon
   class late_start
   user root
   group root

# Secure Storage startup
service prepare-ssdaemon /system/bin/sh /system/bin/ss-presetup.sh
    class core
    user root
    group root
    oneshot

service secure_storage /system/bin/secure_storage_daemon
    class core
    user system
    group system
    disabled

on property:init.svc.prepare-ssdaemon=stopped
    start secure_storage

# for LogMeIn 
service RescueStarter /system/bin/RescueStarter 
    class core 
    user graphics 
    group input graphics
