# Omni Extras

on init
    export TERMINFO /system/etc/terminfo
    export TERM linux

on post-fs-data
    mkdir /cache/dalvik-cache 0771 system system
    chown system system /cache/dalvik-cache
    chmod 0771 /cache/dalvik-cache
    mkdir /data/.ssh 0750 root shell

    # Run sysinit
    start sysinit

# sysinit (/system/etc/init.d)
service sysinit /system/bin/sysinit
    user root
    oneshot
    disabled
