<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#3F51B5">
        <title>Dual Boot Patcher Changelog</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Material Design fonts -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <!-- Material Design CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.8/css/bootstrap-material-design.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.8/css/ripples.min.css">

        <!-- Main CSS -->
        <style>
            body {
                padding-top: 80px;
                padding-bottom: 20px;
                font-family: RobotoDraft, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
            }

            iframe, img, embed {
                border: none;
            }

            /* Small Devices */
            @media (max-width: 1200px) {
                body {
                    padding-top: 70px;
                }
            }

            /* Extra-Small Devices */
            @media (max-width: 767px) {
                .table {
                    table-layout: fixed;
                    overflow: hidden;
                }
            }
        </style>

        <!-- HTML5 favicon -->
        <link rel="icon" href="images/favicon.png">
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="./">Dual Boot Patcher</a>
                </div>
                <div class="navbar-collapse collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="./">Snapshots</a></li>
                        <li><a href="http://forum.xda-developers.com/showthread.php?t=2447534" target="_blank">XDA</a></li>
                        <li><a href="https://jenkins.noobdev.io/job/DualBootPatcher/" target="_blank">Build Server</a></li>
                        <li><a href="https://github.com/chenxiaolong/DualBootPatcher" target="_blank">Source</a></li>
                    </ul>
                </div>
            </div> <!-- ./container -->
        </nav> <!-- ./navbar -->

        <div class="container">
            <div class="jumbotron">
                <h1 style="font-weight:400;">Snapshot builds</h1>
                <p style="font-weight:400;">Below are unstable releases that are automatically built by the continuous integration server. They contain all the latest and greatest features, but have the potential of eating your hamster, cat, or dog (and of course your phone). Make sure to backup before installing and using these builds. Enjoy!</p>
                <p><a href="http://forum.xda-developers.com/showthread.php?t=2447534" class="btn btn-primary btn-lg" target="_blank">Learn more</a></p>
            </div>

            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h2 class="panel-title" style="font-size:20px;">Reporting issues</h2>
                </div>
                <div class="panel-body">
                    <p>GetLogs zip: <a href="https://snapshots.noobdev.io/misc/getlogs/GetLogs-20161019-2.zip">GetLogs-20161019-2.zip</a>
                    <br /><br />
                    If a multi-booted ROM is unable to boot, logs will be needed for debugging the issue. Please reboot into recovery without shutting down the device (ie. no removing the battery) and flash the GetLogs zip. This must be done immediately following the boot failure because some logs will be lost after a reboot. The zip will save many logs from /sdcard/MultiBoot and device information from /dev, /proc, and /sys to <code>/sdcard/logs/[Date&amp;Time].tar</code>. Please attach this tar archive when reporting an issue.
                    <br /><br />
                    Also, state whether the ROM reboots or hangs at the manufaturer logo or the ROM's boot animation. If the ROM reboots, please state whether it reboots into recovery or not.</p>
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2 class="panel-title" style="font-size:20px;">Linux Packages</h2>
                </div>
                <div class="panel-body">
                    <p>Due to differing library versions across various distros, there are no snapshot builds for Linux. Linux builds can be compiled from source or installed from the following repositories.</p>
                    <ul>
                        <li><div class="visible-xs">Arch Linux: <a href="https://aur4.archlinux.org/packages/dualbootpatcher-git">AUR</a></div><div class="hidden-xs">Arch Linux: <a href="https://aur4.archlinux.org/packages/dualbootpatcher-git">https://aur.archlinux.org/packages/dualbootpatcher-git</a></div></li>
                        <li>Fedora: <i>WIP</i><br></li>
                        <li>Ubuntu: <i>WIP</i><br></li>
                    </ul>
                </div>
            </div>
        </div> <!-- ./container -->

        <div class="container">
            {% for build in builds %}
                <div class="panel panel-success">
                    <!-- Version and timestamp of build -->
                    <div class="panel-heading">
                        <h2 class="panel-title" style="font-size:20px;">{{ build.version | e }}<p class="visible-xs"></p> <small>{{ build.timestamp | e }}</small></h2>
                    </div>
                    <div class="panel-body">
                        <h4>Files:</h4>
                        <ul>
                            <!-- List of downloads for the build -->
                            {% for file_info in build.files %}
                                <li>
                                    <!-- For extra-small devices -->
                                    <div class="visible-xs">
                                        <a href="{{ file_info.file | e }}">{{ file_info.target | e }}</a>
                                        {% if 'md5' in file_info %}
                                            | <a href="{{ file_info.md5 | e }}">MD5</a>
                                        {% endif %}
                                        {% if 'sha1' in file_info %}
                                            | <a href="{{ file_info.sha1 | e }}">SHA1</a>
                                        {% endif %}
                                        {% if 'sha512' in file_info %}
                                            | <a href="{{ file_info.sha512 | e }}">SHA512</a>
                                        {% endif %}
                                        ({{ file_info.size | e }})
                                    </div>
                                    <!-- For non-extra-small devices -->
                                    <div class="hidden-xs">
                                        {{ file_info.target | e }}: <a href="{{ file_info.file | e }}">{{ file_info.name | e }}</a>
                                        {% if 'md5' in file_info %}
                                            | <a href="{{ file_info.md5 | e }}">MD5</a>
                                        {% endif %}
                                        {% if 'sha1' in file_info %}
                                            | <a href="{{ file_info.sha1 | e }}">SHA1</a>
                                        {% endif %}
                                        {% if 'sha512' in file_info %}
                                            | <a href="{{ file_info.sha512 | e }}">SHA512</a>
                                        {% endif %}
                                        ({{ file_info.size | e }})
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <h4>Changelog:</h4>
                        {% if build.commits %}
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Commit</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for commit in build.commits %}
                                        <tr>
                                            <td><a href="https://github.com/chenxiaolong/DualBootPatcher/commit/{{ commit.id | e }}">{{ commit.short_id | e }}</a></td>
                                            <td>{{ commit.message | e }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <p>An earlier build is needed to generate a changelog</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div> <!-- ./container -->

        <!-- jQuery 2.x JS -->
        <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>

        <!-- Bootstrap JS -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

        <!-- Material Design JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.8/js/material.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.8/js/ripples.min.js"></script>

        <!-- Main JS -->
        <script>
            $.material.init();
            $('[data-toggle="tooltip"]').tooltip();
        </script>

        <!-- Google Analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-60356477-1', 'auto');
            ga('send', 'pageview');
        </script>
    </body>
</html>

